<nav class="navbar navbar-expand-lg bg-dark position-top mb-0 shadow-sm mt-2">
    <div class="container-fluid mx-3">
        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', path='img/logo-horizontal-500px-dark.png') }}"
                 alt='em-logo' height="54">
        </a>
        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', path='img/epicenter-logo-h500.png') }}"
             alt="epic-logo" height="54">
        </a>
    </div>
</nav>

<div class="container my-1" style="max-width: 500px">
    <div class="row justify-content-between mt-0 text-dark fs-5" >

        <div class="col text-start">
            <a class="text-dark" href="/about">
            <i class="fa-regular fa-file-lines"></i>
                About
            </a>
        </div>

        <div class="col text-center">
            <a class="text-dark" href="https://github.com/epiccash/easyminer" target="_blank">
                <i class="fa-brands fa-github"></i>
                Github
            </a>
        </div>

        <div class="col text-end">
            <a class="text-dark" href="https://t.me/EpicEasyMiner" target="_blank">
                <i class="fa-brands fa-telegram"></i>
                Telegram
            </a>
        </div>

    </div>

</div>

<hr class="my-0"/>